.section-movie-infos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  & h2 {
    font-size: 2.5rem;
    line-height: 2.4rem;
    margin-bottom: 0.6rem;
  }
  & .tagline {
    font-weight: 100;
  }

  & .poster-panel {
    flex-shrink: 1;
    & img {
      margin-bottom: 1rem;
    }
  }
  & .data-panel {
    max-width: 400px;
    & .detail-infos {
      color: #666;
      font-weight: 100;
      text-align: left;
      & .detail-infos--name {
        display: inline-block;
        width: 140px;
      }
      & .detail-infos--value {
        text-align: left;
        color: #444;
        font-weight: 500;
      }
    }
  }
  & .infos {
    font-size: 1.2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    & .year {
      font-weight: 600;
      color: var(--color-bg);
      margin-right: 1rem;
    }
    & .rating {
      height: 0.2rem;
      margin-right: 1rem;
      & svg {
        display: inline;
        height: 1rem;
        color: var(--color-primary);
      }
    }
  }
  .categories {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    & .category {
      margin-right: 0.7rem;
      margin-bottom: 0.7rem;
      padding: 0 0.6rem 0.2rem;
      border-radius: 0.8rem;
      color: var(--color-links);
      background-color: var(--color-bg);
    }
  }
  & .extra-infos {
    margin-top: 2rem;
  }
}
