.homepage {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  flex-grow: 1;
  background-color: var(--mantine-color-gray-1);
  & .intro {
    max-width: 40rem;
    margin-inline: 1rem;
    & h3 {
      color: var(--color-bg);
    }
  }
  & .news {
    max-width: 40rem;
    margin-inline: 1rem;
    margin-top: 0.5rem;
    & .header-news {
      display: flex;
      justify-content: space-between;
      & h3 {
        color: var(--color-bg);
      }
      & span {
        color: var(--mantine-color-gray-5);
      }
    }
  }
}
