.change-password-section {
    margin: auto;
    display: flex;
    border-radius: 1rem;
    box-shadow: 0 0 5px rgb(192, 192, 192);
    padding: 2rem;
    width: 90vw;
    max-width: 400px;
    height: auto;
    flex-direction: column;
    background-color: var(--mantine-color-gray-3);
    text-align: center;
    box-sizing: border-box;
  }
  
  .form-titlePsw {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    color: var(--color-bg);    
  }
  
  .form-containerPsw {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
  }
  
  .input-containerPsw {
    margin-bottom: 1rem;
    width: 100%;
    text-align: left;
  }
  
  .strength-meterPsw {
    width: 100%;
    margin-top: 1rem;
    text-align: left;
  }
  
  .button-containerPsw {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    width: 100%;
  }
  
  .error-messagePsw{
    text-align: center;
    margin-top: 1rem;
    color: red;
  }
  .success-messagePsw {
    text-align: center;
    margin-top: 1rem;
    color: green;
  }
  
  
  @media (max-width: 844px) {
    .change-password-section {
      width: 90vw;
      padding: 1rem;
      height: auto;
    }
  
    .form-titlePsw {
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-size: 1.5rem;
      text-align: center; 
      width: 100%;
    }
  
    .form-containerPsw {
      align-items: center; 
    }
  
    .input-containerPsw {
      width: 100%;
    }
  
    .button-containerPsw {
      margin-top: 1rem;
      width: 100%;
    }
  
    .strength-meterPsw {
      width: 100%;
    }
  }