@use 'sass:math';

// Define variables for your breakpoints,
// values must be the same as in your theme
$mantine-breakpoint-xs: '36em';
$mantine-breakpoint-sm: '48em';
$mantine-breakpoint-md: '62em';
$mantine-breakpoint-lg: '75em';
$mantine-breakpoint-xl: '88em';

// ci-dessous les couleurs utilisées par le css vanilla
// le theme mantine utilise les mêmes couleurs redéclarées dans theme.ts
// je n'ai pas réussi à factoriser les couleurs dans un fichier unique
:root {
  --color-white: #fff;
  --color-primary: #fbda8d;
  --color-bg: #293159;
  --color-links: #e5e6ff;

  --font-size-xs: 0.5rem;
  --font-size-sm: 0.75rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.3rem;
  --font-size-xl: 1.5rem;

  --line-height-xs: 1.2;
  --line-height-sm: 1.3;
  --line-height-md: 1.4;
  --line-height-lg: 1.5;
  --line-height-xl: 1.6;
}

@function rem($value) {
  @return #{math.div(math.div($value, $value * 0 + 1), 16)}rem;
}

@mixin light {
  [data-mantine-color-scheme='light'] & {
    @content;
    // A utiliser plus tard quand on mettre un thème dark
    // on utilisera la fonction light-dark()
    // voir https://mantine.dev/styles/sass/

    // --color-primary: $color-primary;
    // --color-bg: $color-bg;
    // --color-links: $color-links;
  }
}

@mixin dark {
  [data-mantine-color-scheme='dark'] & {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }

  @media (hover: none) {
    &:active {
      @content;
    }
  }
}

@mixin smaller-than($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

@mixin larger-than($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

// Add direction mixins if you need rtl support
@mixin rtl {
  [dir='rtl'] & {
    @content;
  }
}

@mixin ltr {
  [dir='ltr'] & {
    @content;
  }
}
