.signup-section {
  margin: auto;
  display: flex;
  background-color: rgb(231, 225, 225);
  justify-content: center;
  border-radius: 3rem;
  box-shadow: 0 0 5px rgb(192, 192, 192);
  padding: 2rem;
  width: 80vh;
  flex-direction: column;
}

.form-title {
  font-size: 4vh;
  color: var(--color-bg);
  text-align: center;
  margin-bottom: 2rem;
}

.form-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.left-column,
.right-column {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.input-container {
  margin-bottom: 1rem;
}

.strength-meter {
  margin-top: -1rem;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 1rem;
}

.success-message {
  color: green;
  text-align: center;
  margin-top: 1rem;
}

@media (max-width: 844px) {
  .signup-section {
    width: 40vh;
  }

  .form-container {
    flex-direction: column;
    align-items: center;
  }

  .left-column,
  .right-column {
    width: 100%;
    margin: 0;
  }

  .input-container {
    width: 100%;
    max-width: 300px;
  }

  .strength-meter {
    width: 100%;
    max-width: 300px;
  }

  .button-container {
    width: 100%;
    max-width: 300px;
  }
}
