.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.mantine-Notifications-notification {
  top: 4.5rem !important;
}

.mantine-Notifications-root {
  pointer-events: none;
}

.mantine-Notification-closeButton {
  pointer-events: auto;
}
