.searchbar-form {
  & input {
    background-color: var(--color-links);
    font-size: 1.3rem;
    border: none;
    padding: 0.3rem 1rem;
    border-radius: 1.2rem;
    color: var(--color-bg);
    &:focus {
      background-color: var(--color-primary);
    }
  }
}
