.header {
  height: 4.6rem;
  padding-inline: 1rem;
  background-color: var(--color-bg);
  border-bottom: rem(1px) solid light-dark(var(--color-bg), var(--color-bg));
  & .title {
    margin-right: 1rem;
    font-size: var(--font-size-md);
    padding-bottom: 0.3rem;
    display: flex;
    gap: 0.7rem;
    color: var(--color-primary);
  }
  & img {
    margin-left: 0.5rem;
    height: 2.8rem;
    margin: 0.2rem;
  }
  & .inner {
    height: 4.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & .mantine-Burger-root {
      color: var(--color-primary);
    }
  }

  & .link {
    line-height: 1;
    // padding: 0.8rem 0.4rem;
    text-decoration: none;
    margin-right: 1.5rem;
    color: var(--color-links);
    font-size: var(--font-size-md);
    font-weight: 500;
    text-decoration: none;
    &:hover {
      color: var(--color-primary);
    }
  }
}
