.footer {
  color: var(--color-links);
  background-color: var(--color-bg);
  text-align: center;  
  & .footer-link {
    text-decoration: none;
    color: inherit;
    &:hover {
      color: var(--color-primary);
    }
  }
}
